BasedOnStyle: Google
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 200
MaxEmptyLinesToKeep: 1
BreakConstructorInitializers: BeforeColon
ConstructorInitializerAllOnOneLineOrOnePerLine: false
BreakConstructorInitializersBeforeComma: true
BreakInheritanceList: BeforeColon
BreakBeforeInheritanceComma: true
AlignAfterOpenBracket: Align
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLambdasOnASingleLine: None
AllowShortLoopsOnASingleLine: false
Cpp11BracedListStyle: true
FixNamespaceComments: true
IndentCaseLabels: true
IndentPPDirectives: AfterHash
NamespaceIndentation: All
SortIncludes: CaseSensitive
